.CardContainer {
    margin: 30px;
    padding: 80px;
    border: 5px solid black;
    background-color: white;
    transition-duration: 0.3s;
}

.CardContainer:hover{
    transition-duration: 0.3s;
    padding-right: 120px;
    padding-left: 120px;
}

.CardContainer-header {
    margin-bottom: 30px;
}

.CardContainer-header p {
    margin-top: 25px;
    font-size: 25px;
}

.CardContainer-content {
    text-align: justify;
    font-size: 20px;
}

.Dark-Mode-CardContainer-Activated {
    background-color:  #282c34;
}

hr {
    background-color: rgb(149, 149, 149);
}

@media only screen and (max-width: 1075px) {
    .CardContainer-content {
        text-align: left;
    }
}