.Card {
    margin: 50px;
    min-width: 200px;
    border: 2px #282c34 solid;
    border-radius: 15px;
    background-size: cover;
    background-image: url('../images/wallpeper_card.jpg');
    transition: 0.3s;
}

.Card:hover {
    background-image: url('../images/wallpeper_card.jpg');
    background-color: rgba(97, 218, 251);
    background-blend-mode: overlay;
    transition-duration: 0.3s;
    /* background-image: none; */
    box-shadow: 4px 2px 2px 1px #282c34;
    /* background-image: linear-gradient(rgba(97, 218, 251, 0.8),rgba(97, 218, 251, 0.8)), url('../images/wallpeper_card.jpg'); */
}

.Card p {
    margin: 50px;
    font-size: 30px;
    font-family: "Radikal Thin";
    background-color: #282c34;
    border-radius: 15px;
    color: white;
} 
