.Header {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    font-family: "Radikal Thin";
    margin: 50px;
}

.Header-text {
    display: block;
    text-align: justify;
    margin-top: 120px;
    margin-left: 20px;
}

.Header img {
    margin: 20px;   
    filter: grayscale(80%);
    transition-duration: 0.4s;
}

.Header img:hover {
    filter: none;
    width: 305px;
    height: 305px;
    transition-duration: 0.4s;
}

/* background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149)); */